[Unit]
Description=Run holy-poly-what-trump-say-research every 10 minutes
Requires=holy-poly-what-trump-say-research.service

[Timer]
OnCalendar=*:0/10
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
