[Unit]
Description=Run holy-poly-what-trump-say-research every hour
Requires=holy-poly-what-trump-say-research.service

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=5min

[Install]
WantedBy=timers.target
